<h2>Home Page</h2>
<hr>

{{!-- {{#if productos}}
    <h3>Productos: {{productos}}</h3>
{{else}}
    <h3>No llegó ningun producto</h3>
{{/if}}  --}}

<!--
<ul>
    {{#each productos}}
    <li>
       <strong>{{title}}:</strong> ${{price}}
    </li>
    {{/each}}
</ul>
-->

{{>listado}}